.hero {
  width: 50%;
  height: 370px;
  background-color: #86abb5;
  border: 5px solid #646b6d;
  border-radius: 20px;
  opacity: 0.9;
  position: relative;
  left: 100px;
  top: 60px;
}
.hero-text {
  font-size: 50px;
  color: azure;
  text-align: center;
  position: absolute;
  top: 200;
  font-family: "Roboto Slab", serif;
}

p {
  font-family: "Roboto Slab", serif;
  font-size: 50px;
  position: relative;
  top: 150px;
}
